* {
	text-align: center;
}
body{
	background-color: red;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: black;
}

.jumbotron {
	margin-top: 2%;
	/*background-color: white;*/
}

